body {
        height: 100%;
        margin: 0;
        background-color:#E9ECEF ;
}

a{
    text-decoration: none;
}


.kaydir{
    margin-right: 30px;
}

.bottom{
    clear: right;
}


ul {
    display: inline-block
    
  }


  .card-img-top{
    width:100%;
    height:auto;
  }

  .card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
  }